<p>
    <strong class="qrm-text-xs">QR Code:</strong><br>
    <small>{{route.entryUri}}</small>
</p>
<p>
    <strong class="qrm-text-xs">Redirect:</strong><br>
    <small>{{route.redirectUri}}</small>
</p>